/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127 
celeste = #026fff*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* text-transform: initial; */
  /* text-decoration: wavy; */ 
}

h1 strong {
  color: #026fff;
}

.hero h1 {
  color: black;
}

/* .hero h1 strong { 
  color: black;
} */

h2 {
  color: #026fff;
  text-transform: uppercase; 
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.portfolio h2,
.event-list-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header {
  background-color: #000000;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header figure img{
  height: 90px;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.hero {
  height: 300px;
  color: black ;
  /* background-image: url('../images/hero.jpeg'); */
  background-color: #fafafa;
  /* background-position: right; */
  /* background-position-x: right; */
  /* background-repeat: no-repeat; */
  /* background-size: 300px 300px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h2 {
  text-transform: none;
  margin: 0;
  height: 45px;
  line-height: 58%;
}

.hero-image {
  border-radius: 10%;
}



.portfolio {
  background: #fafafa;
  padding: 20px;

}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid blueviolet;
  border-left: 10px solid green;
  border-bottom: 10px solid pink; */
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 15px;
  padding: 9px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-course {
  margin: 10px 0;
}

.project-date {
  margin: 10px 0;
}

.project-url {
  margin: 10px 0;
}

.project-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.project img {
  width: 500px;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Oswald', sans-serif;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}


.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  /* No alterar ancho ni alto */
  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img {
  width: 505px;
  height: 200px;
  object-fit: cover;
}

.event-details {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  color: black;
  background-color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .social {
  border: 1px solid red;
} */

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.linkedin {
  background-image: url('../images/linkedin.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}

.form-email input{
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/email.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: darkgray;
  color: black;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  /* margin: 10px auto 0; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  /* border: 1px solid red; */
  width: 1100px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.event-imageContainer {
  margin: 23px;
}

.container.event {
  justify-content: center;
}